
<div id="container-all">
<%= render "resume_model" %>
<%= render "asteroids_model" %>

<main>

<%= render "text" %>

    <div id="buffer"></div>

    <%= render "navigation" %>

    <div id="title">
      <span class="dev-tag">Web Developer</span>
      <h1>Zachary Stallings</h1>
    </div>

    <%= render "intro" %>

    <%= render "about" %>

    <%= render "projects" %>

    <%= render "contact" %>

    <%= render "resume" %>
  </div>
</main>

</div>

<script charset="utf-8">

  var backgroundImage = "<%= asset_path('outer-space.jpg') %>";
  var canvasEl = document.getElementById("game-canvas");
  var canvasHeight = canvasEl.height = window.innerHeight;
  var canvasWidth = canvasEl.width = window.innerWidth;
  var ctx = canvasEl.getContext("2d");
  var ast = new Asteroids.GameView(ctx, canvasHeight, canvasWidth);
  var image = document.getElementById("image-back")
  ast.start(backgroundImage);

</script>
