<!DOCTYPE html>
<html>
<head>
  <title>ZakResume</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if flash[:notice] %>
<ul id="notice" class="notice">
  <li><%= flash[:notice] %></li>
</ul>
  <% end %>
</div>

<%= yield %>
</body>
</html>
