<!DOCTYPE html>
<html>
<head>
  <title>ZakResume</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if flash[:notice] %>
<ul>
  <li><%= flash[:notice] %></li>
</ul>
  <% end %>
</div>

<%= yield %>
</body>
</html>
